<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LISTADO DE DJANGO</h1>
    <table>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Apellido</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Fernanda</td>
            <td>Fuentes</td>
        </tr>
    </table>
   <a href="{% url 'home:homeapp' %}">Home</a>
</body>
</html>